<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Add goal</title>
</head>
<body class="container">


    {% if user.is_authenticated %}
        <div class="center"><h6 style="font-size: smaller;">Logged in as</h6> <div class="chip"> 
        {{user.username}} <i class="close material-icons">person</i>
        </div><br><br></div>
    {% endif %}
    

    {% if form %}
    <form method="POST">
        {% csrf_token %}
        
            {{ form.label }}
            {{ form }}

        

      <!-- <div class="input-field col s12">
        <input type="text" name="goal_name" class="validate">
        <label for="goal">Goal</label>
      </div>
      <div class="input-field col s12">
        <label for="">Created for:</label><br><br>
        <select name="user" id="">
            {% for user in users %}
                <option value="">
                    {{user.username}}
                </option>
            {% endfor %}
        </select>
      
           
        
      </div><br> -->
      <div>
          <input type="submit" value="Submit" class="waves-effect waves-teal btn"></input>
      </div>
    </form><br>

    <a href="{% url 'yemmyharryscrumy:home' %}"> Home </a> 
    {% endif %}

</body>
</html>