<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Exception</title>
</head>
<body>
    <p>{{error}}</p>
</body>
</html>