<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <title>yemmyharryscrumy</title>
    <style>
        table,th,td {
            border: 1px solid grey;
            padding: 10px;
            border-collapse: collapse;
        }
    </style>
    
</head>
<body>
    
    <table>
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo left">My Scrumy Goals</a>
          </div>
        </nav> <br>
        {% if user.is_authenticated %}
                <div class="center"><h6 style="font-size: smaller;">Logged in as</h6> <div class="chip"> 
            {{user.username}} <i class="close material-icons">person</i>
                </div><br><br></div>
        {% endif %}

        <tr>
            <th>User</th>
            <th>Weekly Goals</th>
            <th>Daily Goals</th>
            <th>Verify Goals</th>
            <th>Done Goals</th>
        </tr>
        <!-- using scrumygoals.objects.all in context -->
    <!-- {% for goal in scrumygoals %}
        <tr>
            <td>{{goal.user}}</td>
            <td>
                {% if goal.goal_status.status_name == "Weekly Goal" %}
                    <div>{{goal.goal_name}}:{{goal.goal_id}}</div>
                {% endif %}
            </td>
            <td>
                {% if goal.goal_status.status_name == "Daily Goal" %}
                    <div>{{goal.goal_name}}:{{goal.goal_id}}</div>
                {% endif %}
            </td>
            <td>
                {% if goal.goal_status.status_name == "Verify Goal" %}
                    <div>{{goal.goal_name}}:{{goal.goal_id}}</div>
                {% endif %}
            </td>
            <td>
                {% if goal.goal_status.status_name == "Done Goal" %}
                    <div>{{goal.goal_name}}:{{goal.goal_id}}</div>
                {% endif %}
            </td>

        </tr>
    {% endfor %} -->
    {% for user in users %}
        <tr>
            <td>{{user.username}}</td>
            <td>
                {% for weekly in user.user_name.all %}
                {% if weekly in weekly_goals %}
                    <div>
                        {{weekly.goal_name}}:{{weekly.goal_id}}
                        <p><a href="{% url 'yemmyharryscrumy:move_goal' weekly.goal_id %}">Move goal</a></p>

                    </div>
                {% endif %}
                {% endfor%}
            </td>
            <td>
                {% for daily in user.user_name.all %}
                {% if daily in daily_goals %}
                    <div>
                        {{daily.goal_name}}:{{daily.goal_id}}
                        <p><a href="{% url 'yemmyharryscrumy:move_goal' daily.goal_id %}">Move goal</a></p>
                    </div>
                {% endif %}
                {% endfor%}
            </td>
            <td>
                {% for verify in user.user_name.all %}
                {% if verify in verify_goals %}
                    <div>
                        {{verify.goal_name}}:{{verify.goal_id}}
                        <p><a href="{% url 'yemmyharryscrumy:move_goal' verify.goal_id %}">Move goal</a></p>
                    </div>
                {% endif %}
                {% endfor%}
            </td>
            <td>
                {% for done in user.user_name.all %}
                {% if done in done_goals %}
                    <div>
                        {{done.goal_name}}:{{done.goal_id}}
                        <p><a href="{% url 'yemmyharryscrumy:move_goal' done.goal_id %}">Move goal</a></p>
                    </div>
                {% endif %}
                {% endfor%}
            </td>

        </tr>
    {% endfor %}
    </table>
    <p><a href="{% url 'yemmyharryscrumy:add_goal'%}">Add goal</a></p>
</body>
</html>