<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title> User Creation Page </title>
</head>
<body class="container">    

    <h3>Sign Up</h3>

        <form method="POST">
        {% csrf_token %}
            {% for input in form %}
                    
                <div class="input-field">
                    
                    {{ form.errors}}
                    {{ input.label }}
                    {{ input }}
                    
    
                    
                </div>
                <!-- <div class="input-field col s12 l6">
                    <input type="text" id="last_name" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
                <div class="input-field col s12">
                    <input type="email" id="email" class="validate">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Textarea</label>
                </div> -->
            {% endfor %}
            <button type="submit" class="waves-effect waves-light btn">Sign up</button>
        </form><br>
        <!-- <a href="{% url 'yemmyharryscrumy:add_goal' %}"> add goal </a> -->
        
        
</body>
</html>