<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Move Goal</title>
</head>
<body>
  <form method="POST">
        {% csrf_token %}

                <h5>Goal Selection</h5>
                <p>
                <label>
                    <input name="group1" type="radio" checked value="Daily Goal"/>
                    <span>Daily Goal</span>
                </label>
                </p>
                <p>
                <label>
                    <input name="group1" type="radio" value="Weekly Goal"/>
                    <span>Weekly Goal</span>
                </label>
                </p>
                <p>
                <label>
                    <input  name="group1" type="radio"  value="Verify Goal"/>
                    <span>Verify Goal</span>
                </label>
                </p>
                <p>
                <label>
                    <input name="group1" type="radio" value="Done Goal"/>
                    <span>Done Goal</span>
                </label>
                </p>
                <div>
                    <input type="submit" value="Move Goal" class="waves-effect waves-teal btn"></input>
                </div>
                

  </form>
        
</body>
</html>