<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>login</title>
</head>
<body>
    {% if form.errors %} {{form.errors}}
        <p>Invalid login credentials</p>
    {% endif %}
   {%if form %}
    <form method="POST" class="container">
    {% csrf_token %} 
        <h3 class="indigo-text center">Login Page</h3>
        {{form.label}}
        {{form}}

      <!-- <div class="input-field col s12">
        <input type="text" name="username">
        <label for="">Username</label>
      </div>
      <div class="input-field col s12">
        <input type="password" name="password">
        <label for="">Password</label>
      </div> -->
      <input type="submit" value="Submit" class="waves-effect waves-light btn"></input>
    </form> <br>
    <p class="container"><a href="{% url 'yemmyharryscrumy:index' %}">Index Page</a></p>
    {%endif %}
</body>
</html>